<html>

<body>
    <form method="POST" action="/api/user">
        <label for="">Aadhar Number</label>
        <input type="text" name="aadhar" id=""><br>
        <input type="submit">
    </form>
</body>

</html>